@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-weight: normal;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte01);
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
    font-weight: bolder;
}

section.imagem {
    background-color: rgb(3, 68, 77);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 10px;
    text-shadow: 1px 2px 0px black;
    border-radius: 6px;
}

section > p{
    padding-bottom: 2em;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte01);
    font-size: 0.8em;
}