@charset "UTF-8";

/*
em HTML é id    = em CSS é # (somente 1 por pagina)
em HTML é class = em CSS é . (pode ter varios)
*/

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(1, 105, 70);
}

h1#principal {
    text-align: center;
    color: white;
    background-color: green;
}

h2 {
    color: rgb(67, 117, 100);
}

.basico {
    color: green;
}
.intermediario {
    color: rgb(173, 173, 28);
}
.avancado {
    color: rgb(175, 15, 15);
}
.destaque {
    background-color: rgba(219, 219, 89, 0.596);
}