@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');
}

body {
    margin: 0px;
    background-color: #E8E5C2;
    
}

header {
    height: 250px;
    background-image: linear-gradient(to top, #032e16, #2e7e50);
     
}
header > h1 {
    font-family: 'Teko', sans-serif;
    font-weight:  normal;
    font-size: 3em;
    text-align: center;
    color: white;
    padding: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
}
header > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
}

nav {
    margin-top: 48px;
}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 20px;
    
    
}

nav > a:hover {
    background-color: #2e7e50;
    border-radius: 5px 5px 0px 0px;
    color: #c5c5c5;
}

main {
    
    margin: auto;
    background-color: #ffffff;
    width: 600px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
    border-radius: 7px;
    
}

section {
    margin: 10px;
}

section > h1 {
    font-family: 'idroid', sans-serif;
    text-align: center;
    color: #032e16;
    
}

section > h2 {
    font-family: 'idroid', sans-serif;
    color: #032e16;
    background-image: linear-gradient(to right, #7bb694, white);
}
section > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

img {
    width: 580px;
}

.links {
    text-decoration: none;
    background-color: #6eb98e;
    font-weight: bold;
    color: #10532e;
}

#android {
    margin: auto;
    width: 300px;
}

#vdo {
    margin: 0px;
    background-color: #032e16;
    width: 600px;
    height: 315;
}

iframe {
    border: 20px solid #032e16;
}
ul {
    display: inline-block;
    padding-right: 80px;
}
.quadro {
    background-color: #c1e0ce;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.527);
    border-radius: 7px;
}
#qam {
    background-color: #2e8053;
    color: white;
    padding: 12px;
    margin-top: 0px;
    font-weight: bold;
    border-radius: 7px 7px 0px 0px;
    
}

.quadro > p {
    padding: 10px;
}
p {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p > a {
    text-decoration: none;
    color: #10532e;
    font-weight: bold;
}
footer {
    text-align: center;
    background-color: #032e16;
    color: white;
    font-size: 12px;
    
}